<p id="notice"><%= notice %></p>

<p>
  <strong>Event tiltle:</strong>
  <%= @event.event_tiltle %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Select class:</strong>
  <%= @event.select_class %>
</p>

<p>
  <strong>Select day:</strong>
  <%= @event.select_day %>
</p>



<p>
  <strong>Event duration:</strong>
  <%= @event.event_duration %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
