<main class="main-content">
  <div class="page-content">
    <div class="row margin-b-0">
      <div class="col s12 m12 l7">
        <div class="card">
          <div class="card-actions">
            <ul class="clearfix">
              <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>

            </ul>
          </div>

          <div class="card-content">
                                <span class="card-title">Total Revenue
                                    <span class="subtitle">Last 6 months</span></span>
            <div>
              <div class="flot-chart" id="chart-spline"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l5">
        <div class="card">

          <div class="card-content">
                                <span class="card-title">Sales Analytics
                                    <span class="subtitle">Last 6 months</span></span>
            <div>
              <div class="flot-chart" id="chart-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/row-->
    <div class="row margin-b-0">
      <div class="col s12 m6 l3 margin-b-30">
        <div class="widget_1 z-depth-1 clearfix">
          <i class="material-icons blue-grey-text">supervisor_account</i>
          <div class="content">
            <h1 class="margin-v-0">345</h1>
            <span>New users</span>
          </div>
        </div><!--/widget-->
      </div><!--/col-->
      <div class="col s12 m6 l3 margin-b-30">
        <div class="widget_1 z-depth-1 clearfix">
          <i class="material-icons red-text">gps_fixed</i>
          <div class="content">
            <h1 class="margin-v-0">954</h1>
            <span>Today visitors</span>
          </div>
        </div><!--/widget-->
      </div><!--/col-->
      <div class="col s12 m6 l3 margin-b-30">
        <div class="widget_1 z-depth-1 clearfix">
          <i class="material-icons teal-text">data_usage</i>
          <div class="content">
            <h1 class="margin-v-0">267</h1>
            <span>Data uses (GB)</span>
          </div>
        </div><!--/widget-->
      </div><!--/col-->
      <div class="col s12 m6 l3 margin-b-30">
        <div class="widget_1 z-depth-1 clearfix">
          <i class="material-icons green-text">add_shopping_cart</i>
          <div class="content">
            <h1 class="margin-v-0">745</h1>
            <span>New orders</span>
          </div>
        </div><!--/widget-->
      </div><!--/col-->
    </div><!--/row-->
    <div class="row margin-b-0">
      <div class="col s12 m12 l4">
        <div class="card ">
          <div class="card-actions">
            <ul class="clearfix">
              <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>
            </ul>
          </div>
          <div class="card-content white-text">
            <span class="card-title blue-grey-text">New users</span>
            <ul class="avtar-list margin-v-0">
              <li class="clearfix">
                <a href="#">
                  <div class="avtar">
                    <!--<img src="/../app/assets/images/avatar-01.png" alt="" width="40">-->
                    <%= image_tag(image_path('avatar-01.png') ,:width => "40" ) %>
                  </div>
                  <div class="content">
                    <h6 class=" blue-grey-text font-500">John Doe</h6>
                    <span class="grey-text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li><!--/li-->
              <li class="clearfix">
                <a href="#">
                  <div class="avtar">
                    <!--<img src="/../app/assets/images/avatar-02.png" alt="" width="40">-->
                    <%= image_tag(image_path('avatar-02.png'), :width => "40") %>
                  </div>
                  <div class="content">
                    <h6 class=" blue-grey-text font-500">Steven Smith</h6>
                    <span class="grey-text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li><!--/li-->
              <li class="clearfix">
                <a href="#">
                  <div class="avtar">
                    <!--<img src="/../app/assets/images/avatar-03.png" alt="" width="40">-->
                    <%= image_tag(image_path('avatar-03.png'), :width => "40") %>
                  </div>
                  <div class="content">
                    <h6 class=" blue-grey-text font-500">Adam Voges</h6>
                    <span class="grey-text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li><!--/li-->
              <li class="clearfix">
                <a href="#">
                  <div class="avtar">
                    <!--<img src="/../app/assets/images/avatar-04.png" alt="" width="40">-->
                    <%= image_tag(image_path('avatar-04.png'), :width => "40") %>
                  </div>
                  <div class="content">
                    <h6 class=" blue-grey-text font-500">Robin Howkins</h6>
                    <span class="grey-text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li><!--/li-->
              <li class="clearfix">
                <a href="#">
                  <div class="avtar">
                    <!--<img src="/../app/assets/images/avatar-05.png" alt="" width="40">-->
                    <%= image_tag(image_path('avatar-05.png'), :width => "40") %>
                  </div>
                  <div class="content">
                    <h6 class=" blue-grey-text font-500">John Doe</h6>
                    <span class="grey-text">Lorem ipsum dolor sit amet</span>
                  </div>
                </a>
              </li><!--/li-->
            </ul><!--/list-->
          </div> <!--/card content-->
        </div><!--/card-->
      </div><!--/col-->
      <div class="col s12 m12 l4">
        <div class="card">
          <div class="card-actions">
            <ul class="clearfix">
              <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>
            </ul>
          </div>
          <div class="card-content white-text">
            <span class="card-title">Browser Status</span>
            <div class="morris-chart-content">
              <div id="morris-donut-chart"></div>
            </div>
          </div>

        </div>
      </div><!--/col-->
      <div class="col s12 m12 l4">
        <div class="card ">
          <div class="card-actions">
            <ul class="clearfix">
              <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>
            </ul>
          </div>
          <div class="card-content white-text">
            <span class="card-title blue-grey-text">Activities</span>
            <ul class="activity-list margin-v-0">
              <li class="blue-color">
                <a href="#">
                  <span class="grey-text small-text">2 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Task Assign</h6>
                </a>
              </li><!--/li-->
              <li class="green-color">
                <a href="#">
                  <span class="grey-text small-text">3 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Project Assign</h6>
                </a>
              </li><!--/li-->
              <li class="red-color">
                <a href="#">
                  <span class="grey-text small-text">3 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Project Assign</h6>
                </a>
              </li><!--/li-->
              <li class="indigo-color">
                <a href="#">
                  <span class="grey-text small-text">3 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Project Assign</h6>
                </a>
              </li><!--/li-->
              <li class="teal-color">
                <a href="#">
                  <span class="grey-text small-text">3 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Project Assign</h6>
                </a>
              </li><!--/li-->
              <li class="yellow-color">
                <a href="#">
                  <span class="grey-text small-text">3 Hours ago</span>
                  <h6 class=" blue-grey-text font-500">New Project Assign</h6>
                </a>
              </li><!--/li-->
            </ul><!--/list-->
          </div> <!--/card content-->
        </div><!--/card-->
      </div><!--/col-->

    </div>
  </div>
</main>

