<%= form_for(map_student) do |f| %>
  <% if map_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map_student.errors.count, "error") %> prohibited this map_student from being saved:</h2>

      <ul>
      <% map_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enroll_no %>
    <%= f.number_field :enroll_no %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone_no %>
    <%= f.number_field :phone_no %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
