<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Army", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "Facltitus", '#' %></li>
            <li><%= link_to "Myschedule", '#' %></li>
            <li><%= link_to "Student", student_path%></li>
          </ul>
        </nav>
      </div>
    </header>